{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %} Inicio :) {% endblock %}

{% block content %}

<div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">Bienvenido</h1>
            <div class="row center">
                <h5 class="header col s12 light">Para ingresar a todas las funciones, primero debes de iniciar
                    sesión :)</h5>
            </div>
            <div class="row center">
                <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Iniciar
                    sesión</a>
            </div>
            <br><br>

        </div>
    </div>


<img src="{% static 'images\background1.jpg' %}" class="responsive-img" alt="imagen"> 
<br><br><br>
{% endblock %}

